<h2>Evaluate String</h2>
<p>
<input type="text" ng-model="stringToEval"/>
<button ng-click="evalString()">Evaluate</button>
</p>


<h2>Evaluation:</h2>
<p>{{evalResponse}}</p>


<h2>Feed</h2>
<button ng-click="pauseScroll = !pauseScroll">Pause/Resume Update</button>
<div class="pure-g">
    <div class="pure-u-1-2">
        <p><b>Dirty Tweets:</b> {{dirtyCount}}</p>
        <p ng-repeat="class in dirtyFeed">
            {{class.sentence}}
        </p>
    </div>
    <div class="pure-u-1-2">
        <p><b>Clean Tweets:</b> {{cleanCount}}</p>
        <p ng-repeat="class in cleanFeed">
            {{class.sentence}}
        </p>
        
    </div>
</div>
